page {
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    &.index {
        background-color: $uni-bg-color-blue;
        background-image: linear-gradient(to top, #37aaa3 0%, #3299bd 100%);
    }
}
.index-logo {
    margin: 40rpx auto 30rpx auto;
    border-radius: $uni-border-radius-circle;
    padding: 20rpx;
    box-shadow: 0px 0px 20px 10px $uni-bg-color-shadow;
    background-color: #fff;
    height: 220rpx;
        width: 220rpx;
    image {
        height: 180rpx;
        width: 180rpx;
    }
}
image {
    height: 100%;
    width: 100%;
}
button {
    border: none;
}
.colorwhite {
    color:$uni-text-color-inverse;
}
.bigfont {
    font-size: $uni-font-size-lgtitle;
}
.ede {
    text-shadow: 0 4rpx 4rpx $uni-text-color-grey;
}
.titleright {
    display: flex;
    margin-bottom: 30%;
    text-shadow: 0 4rpx 8rpx $uni-text-color-grey;
    .connull {
        width: 260rpx;
    }
}
.left-right {
    position: absolute;
}
.nextPage {
    display: flex;
    margin: 80rpx auto;
    .more-dot-fill {
        margin: 50rpx;
    }
  .index-next {
    border-radius: $uni-border-radius-circle;
    background-color: #fff;
    padding: 10rpx;
    margin: 30px auto;
    font-size: 30px;
    button {
      border: none;
      width: 120rpx;
      height: 120rpx;
      padding: 10rpx;
    }
  }
}
.index-contact {
    width: 35%;
    position: relative;
    height: 10%;
    .kefu, .phone {
        position: absolute;
        border-radius: $uni-border-radius-lg;
        background-color: $uni-bg-color-mask;
        padding: 10rpx;
    }
    .kefu {
        left: 0;
    }
    .phone {
        right: 0;
    }
}