.container {
    &.partner {
        .swiper-pro {
            width: 100%;
        }
        .product-block {
            width: 100%;
            display: flex;
            padding: 4% 1%;
            flex-wrap: wrap;
          .partner-list {
            width: 50%;
            height: 400rpx;
            padding: 10%;
            margin-bottom: 4%;
            background-color: #fff;
            image {
                border: 1px solid $uni-bg-color-blue;
            }
            .partner-title {
                text-align: center;
                margin: 6% 0;
            }
          }
        }
    }
}